<hr>
<div class="content-info">
    <div class="row">
      <div class="col-xs-2">
        <div style="margin: 20px">
          <div style="background-color: #27B8EB; max-width: 70px; min-height: 70px;"></div>
        </div>

      </div>
      <div class="col-xs-5">
        <div>
          <span class="field">Título:</span>
          <span class="value"><%= "Dramatización de Colón" %></span>
        </div>
        <div>
          <span class="field">Autor:</span>
          <span class="value"><%= "Juan Perez" %></span>
        </div>
        <div>
          <span class="field">Descripción:</span><br>
          <span class="value"><%= "Dramatización hecha para el grupo de Estudios Sociales" %></span>
        </div>

      </div>
      <div class="col-xs-4">
        <div>
          <span class="field">Grupo:</span>
          <span class="value"><%= "11-2" %></span>
        </div>
        <div>
          <span class="field">Tema:</span>
          <span class="value"><%= "Día de las culturas" %></span>
        </div>
        <div>
          <span class="field">Tipo:</span>
          <span class="value"><%= "Vídeo" %></span>
        </div>
        <div>
          <span class="field">Autor:</span>
          <span class="value"><%= "No" %> <%= link_to "Publicar?", "#" %></span>
        </div>
        <div>
          <span class="field">Fecha</span>
          <span class="value"><%= "10 Oct 2015" %> </span>
        </div>
      </div>
      <div class="col-xs-1">
        <%= link_to "Borrar", "#", class: 'bottom-and-right' %>
      </div>
    </div>
</div>
<hr>