<div class="single-form sign-in-form">
  <div class="margin-bottom-40">
    <%= image_tag("LogoMEP.png", class: 'img-responsive center-block') %>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="fluid-container">
        <div class="row">
          <div class="col-xs-7 text-right">
            <div>
              <%= f.label :email, class: 'single-form-label' %>
              <%= f.email_field :email, autofocus: true, class: 'single-form-input' %>
            </div>
          </div>
          <div class="col-xs-5">
            <%= f.submit 'Recuperar', class:"btn btn-own" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7 text-right">
            <%= render "devise/shared/links" %>
          </div>
          <div class="col-xs-5">

          </div>
        </div>
      </div>
  <% end %>
</div>
